<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit product &laquo;[[${product.title}]]&laquo; </title>
</head>
<a data-th-href="@{/catalogue/products/{productId}(productId=${product.id})}">&larr; To product</a>
<body>
    <h1>Edit product &laquo;[[${product.title}]]&laquo;</h1>
    <div data-th-if="${errors}">
        <h2>Found errors:</h2>
        <ul>
            <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
        </ul>
    </div>
    <form method="post" data-th-action="@{/catalogue/products/{productId}/edit(productId=${product.id})}">
        <label>
            Title: <br>
            <input type="text" name="title" data-th-value="${payload != null ? payload.title : product.title}">
        </label><br>
        <label>
            Description:<br>
            <textarea name="details" data-th-text="${payload != null ? payload.details : product.details}"></textarea>
        </label><br>
        <button type="submit">Edit</button>
    </form>
</body>
</html>