<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New product</title>
</head>
<a data-th-href="@{/catalogue/products/list}">&larr; Main page</a>
<body>
    <h1>New product</h1>
    <div data-th-if="${errors}">
        <h2>Found errors:</h2>
        <ul>
            <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
        </ul>
    </div>
    <form method="post" data-th-action="@{/catalogue/products/create}">
        <label>
            Title: <br>
            <input type="text" name="title" data-th-value="${payload?.title}">
        </label><br>
        <label>
            Description:<br>
            <textarea name="details" data-th-text="${payload?.details}"></textarea>
        </label><br>
        <button type="submit">Create</button>
    </form>

</body>
</html>